# Solutions to Python assignments

In [19]:
# Q1. A function that takes two arguments, name and age, and print their values

In [12]:
def func(name,age):
    print(name,age)

In [13]:
func("Bright", 30)

Bright 30

In [5]:
# Q2. a function that accept a variable length of arguments and print their values

In [10]:
def func1(*args):
    for i in args:
        print(i)

In [11]:
func1(20, 40, 80)

20
40
80

In [21]:
# Q3. A function that can accept two variables and calculate addition and subtraction.
# it must return both addition and subtraction in a single return call

In [4]:
def calculation(a,b):
    addition = a + b
    subtraction = a - b
    
    return addition, subtraction

res = calculation (50, 20)
print(res)

(70, 30)

In [16]:
# Q4. A function showEmployment using the following conditions

# it should acepts the employee's name and salary and display both.
# if the salary is missing in the function call,then assign a default value 150k to salary

In [5]:
def show_employee(name, salary=150000):
    print("Name:", name, "salary:", salary)
    
show_employee("Bright", 150000)

Name: Bright salary: 150000

In [6]:
# Q5. write a program to create a recursive function to calculate the sum ogf numbers from 0 to 10

In [25]:
def addition(num):
    if num:
        return num + addition(num-1)
    else:
        return 0
    
res =addition(10)
print(res)

55

In [1]:
# Q6. Assign a different name to a functiom and call it through the new name.

# Below is the function display_student(name,age). Assign a new name show_student(name,age) to it.
# and call it the new name

In [7]:
def display_student(name,age):
    print(name,age)
    
    # using original name
display_student("Bright", 28)
        
    # assign new name
showStudent = display_student

showStudent("Bright", 28)

Bright 28
Bright 28

In [8]:
# Q7. Wite a lamda function to reverse a string

# Example if given "james"

# Result "semaj"

In [20]:
def reverseStr(x):
    return x[:: -1]

In [21]:
reverseStr("arm")

'mra'

In [22]:
# Q8. create a function to generate a python list of all the even numbers from 6 to 90

In [3]:
import numpy as np

In [5]:
arr = np.arange(6,90,2)

In [6]:
print(arr)

[ 6  8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52
 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88]

In [8]:
# Q9.create a function to find the day of the week, for a given a date and present the answer as a string text

# input sample(2022,5,1)

# output(sunday)

In [5]:
import datetime

In [6]:
import calendar

In [14]:
def findDay(date):
    born = datetime.datetime.strptime(date, '%Y %m %d').weekday()
    return (calendar.day_name[born])

date = '2022 5 1'
print(findDay(date))

Sunday

In [16]:
# 10. create a function to find the number of days between two given dates.

In [24]:
from datetime import date as date_n

In [32]:
def number_of_days(date_1,date_2):
    return(date_2-date_1).days

date_1=date_n(2022,5,1)

date_2=date_n(2022,5,4)

print("Number of Days between the given dates are:",number_of_days(date_1,date_2),"days")

Number of Days between the given dates are: 3 days